<ion-view title="Add Friend">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="user.email">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a class="button button-block button-positive " ng-click="addFriend(user)">Submit</a>
            <a class="button button-block button-assertive " ng-click="cancelAdd()">Cancel</a>
            
        </form>
    </ion-content>
</ion-view>