<ion-view title="Friends">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="u in users" ng-click="showActionSheet(u.username)">
                <img src="{{ u.picurl }}">
                <h2 style="text-transform:capitalize">{{ u.username }}</h2>
                <p>{{ u.email }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<!-- <a style="position: fixed;bottom: 55px;right: 28px;z-index: 10;height: 50px;width: 50px;background-color: #7A7A7A;border-radius: 27.5px;font-size: 25px;text-align: center;padding: 12px;color: white" class="ion-edit" ui-sref="tabsController.addFriend"></a> -->